/vendor/
/packages/**/vendor/
composer.phar
/.phpunit.cache/
/.phpunit.result.cache
/coverage.xml
!apps/app/composer.lock
!apps/demo/composer.lock
.phpactor.json
.php-cs-fixer.cache
.phpstan.cache
.idea/
.vscode/
*.swp
.DS_Store
